h1 {
    text-align: center;
    font-size: 60px;
    color: green;
    font-family: Montserrat;
}

a {
    padding: 85px;
    padding-bottom: 30px;
    font-size: 40px;
    background-color: lightgreen;
    height: 20px;
    border-radius: 40px;
    color: blue;
    text-decoration: none;
      }
      a:hover {
        background-color: rgb(12, 155, 24);
       
      }

      .button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

p {
    font-family: Montserrat;
    font-size: 30px;
    color: grey;
    margin-top: 30px;
    text-align: center;
    width: 1000px;
    margin-left: 435px;
}

h2 {
    font-family: Montserrat;
    font-size: 40px;
    width: 50%;
    text-align: center;
    padding-left: 450px;
}

h3 {
    font-family: Montserrat;
    font-size: 40px;
    color: green;
    text-align: center;
}

h4 {
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
}

h5 {
    font-family: Montserrat;
    font-size: 40px;
    color: grey;
}

h6 {
    font-family: Montserrat;
    font-size: 40px;
    color: grey;
}

body {
    background-color: blanchedalmond;
}
